<h2>Por Capital</h2>

<br>

<div class="row">
    <div class="col">
        <app-pais-input (onEnter)="buscar($event)"
                        (onDebounce)="sugerencias($event)"
                        placeholder="Busca por capital...">
                        
        </app-pais-input>
    </div>
</div>

<br>

<div    *ngIf="hayError"    
        class="alert alert-danger">
    No se encontro nada con el termino "{{termino}}" 
</div>  

<div class="row" *ngIf="paisesMostrar.length > 0">
    <div class="col">
        <app-pais-tabla [paisesMostrar]="paisesMostrar">
        </app-pais-tabla>
    </div>

</div>