

<div    *ngIf="!pais; else divPais"
        class="alert alert-info">
    Espere por favor...
</div>


<ng-template #divPais>
    <div class="row">
        <div class="col-12">
            <h1>Pais: <small>{{ pais.name }}</small></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h3>Bandera</h3>
            <img [src]="pais.flags.png" alt="bandera" class="medium-flag">
        </div>
    </div>

    <br>

    <div class="col">
        <h1>Informacion</h1>
        <ul class="list-group">
            <li class="list-group-item">
                <strong>Poblacion: </strong> {{pais.population | number}}
            </li>
            <li class="list-group-item">
                <strong>Contiente: </strong> {{pais.continents}}
            </li>
        </ul>
    </div>

    <br>

    <div class="row">
        <div  class="col">
            <h2>Traducciones</h2>
            <span class="badge bg-primary mr-1"> {{pais.translations["ara"].official}} </span>
            <span class="badge bg-primary mr-1"> {{pais.translations["cym"].official}} </span>
            <span class="badge bg-primary mr-1"> {{pais.translations["spa"].official}} </span>
            <span class="badge bg-primary mr-1"> {{pais.translations["zho"].official}} </span>
        </div>    
    </div>

</ng-template>


